---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout>
  <div class="prose">
    <h2>About</h2>
    <p>
      I am a predoctoral researcher at <a href = "https://policyimpacts.org/">Policy Impacts</a>. 
      My reserach interests include development economics, education, and the impact of guns on violence.
      I received a B.S. in economics and a B.A. in political science from the University of Minnesota.
      I'm also an author, playwright, and songwriter.
    </p>
  </div>
</Layout>
