---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout>
  <div class="prose">
    <p>
      Hi! My name's Isaac, and I'm a predoctoral researcher at MIT. I'm also an author, songwriter, and playwright.
      I created this site to be a home for my academic research, personal writing, and music. Hope you enjoy it!
    </p>
    <h2>Brown Sugar out now on all platforms!</h2>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6FMYh2Bs6Bba56ArzW7Zbl?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <h2>Featured Posts</h2>
    <ul>
      <li>
        <a href="/blog/pandoras-shell1">Pandora's Shell (Chapter One)</a>
      </li>
    </ul>
    <h2>Research</h2>
    <ul>
      <li>
        <a href="https://drive.google.com/file/d/1AcaJpYF7EJzZkroJ2hyhnFRfGUL7nEvq/view?usp=sharing">Empty Promises: The Lack of Congressional Oversight of U.S. Foreign Arms Sales</a>
      </li>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="https://isaacmaruyama.github.io/">Elementle</a>
      </li>
      <li>
        <a href="/OTBW">Over the Berlin Wall</a>
      </li>
    </ul>
  </div>
</Layout>
