---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
import { Image } from 'astro:assets';
---

<Layout>
  <div class="prose">
    <h2>Home</h2>
    <img src="/public/isaac-landscape.jpg" alt="Isaac Maruyama" />
  </div>
</Layout>

<style>
</style>
