---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout>
  <div class="prose">
    <h2>Over the Berlin Wall</h2>
    <p>
      Over the Berlin Wall is a musical centered around the characters of Thomas and Emily, two East Berliners who fall in love in the shadow of the Berlin Wall. The musical follows their journey as they navigate the challenges of living in a divided city, and the sacrifices they must make to be together.
    </p>

    <h2>Song Demos</h2>
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1972361264&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/isaac-maruyama-130430059" title="Isaac Maruyama" target="_blank" style="color: #cccccc; text-decoration: none;">Isaac Maruyama</a> · <a href="https://soundcloud.com/isaac-maruyama-130430059/sets/over-the-berlin-wall-demos" title="Over the Berlin Wall - Demos" target="_blank" style="color: #cccccc; text-decoration: none;">Over the Berlin Wall - Demos</a></div>
</Layout>
